body {
  background-image: url('background.jpg');
  background-size: 100%;
}
.calculator {
  background-color: pink;

  width: 600px;
  height: 700px;
  border: solid black 1px;
  border-radius: 15px;

}

#display {
  padding: 7px;
  background-color: rgb(175, 186, 210);
  box-shadow: inset 5px 5px 30px 10px #ccf5ff;
  display: block;
  margin: 40px;
  width: 500px;
  height: 100px;
  border: solid #3e3e5b 1px;
  border-radius: 15px;
  text-align: center;
}

.buttons {

}

.delete {
  margin-bottom: 40px;
}

.delete button {
  width: 252px;
  height: 60px;
  padding: 0px;
  margin: 2px;

}

.small {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 45px;
  margin: 60px;
  justify-content: center;

}

.small button {
  width: 85px;
  height: 85px;
}
